{% extends 'base-clean.html.twig' %}

{% block body %}
<br><br><br>
<div style="text-align: center;">
    <h1>Choisissez votre abonnement</h1>

<br><br>
<div style="display: flex; justify-content: space-between;">
    <div>
        <img src="{{ asset ('Front/images/1.PNG')}}" alt="">
        <div class="blog_post_link"><a href="{{ path('app_abonnement_new', {'type': 'Ordinaire'}) }}"  style="background-color: #F5F5DC; color: black;padding: 15px 32px;font-size: 16px;border-radius: 5px;">Commencer</a></div>    
    </div>

     <div> 
        <img src="{{ asset ('Front/images/2.PNG')}}" alt="">
        <div class="blog_post_link"><a href="{{ path('app_abonnement_new', {'type': 'Familiale'}) }}" style="background-color: #F5F5DC; color: black;padding: 15px 32px;font-size: 16px;border-radius: 5px;">Commencer</a></div> 
          
    </div>

     <div>
        <img src="{{ asset ('Front/images/3.PNG')}}" alt="">
 <div class="blog_post_link"><a href="{{ path('app_abonnement_new', {'type': 'Premium'}) }}" style="background-color: #F5F5DC; color: black;padding: 15px 32px;font-size: 16px;border-radius: 5px;">Commencer</a></div>      
    </div>
</div>

<br><br><br><br><br>
{% endblock %}
