<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Nouvelle Réclamation</h2>

         
 {{ form_start(form, {'attr': {'class': 'forms-sample', 'novalidate': 'novalidate' }}) }}
            <div class="form-group">
                {{ form_label(form.categorierec, 'Catégorie') }}
                {{ form_widget(form.categorierec, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.categorierec) }}
            </div>

            <div class="form-group">
                {{ form_label(form.descriptionrec, 'Description') }}
                {{ form_widget(form.descriptionrec, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.descriptionrec) }}
            </div>

            <div class="form-group">
                {{ form_label(form.servicerec, 'Service') }}
                {{ form_widget(form.servicerec, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.servicerec) }}
            </div>

            <div class="form-group">
                {{ form_label(form.piecejointerec, 'Pièce jointe') }}
                {{ form_widget(form.piecejointerec, {'attr': {'class': 'form-control-file'}}) }}
                {{ form_errors(form.piecejointerec) }}

            </div>
            <br>
            <button type="submit" class="btn btn-primary" style="background-color: #004369;
border: none;
color: white; /* Couleur du texte */
padding: 15px 32px;
text-align: center; /* Centrer le texte */
text-decoration: none;
display: inline-block;
font-size: 16px;
border-radius: 8px;
transition-duration: 0.4s;
cursor: pointer;">Envoyer</button>
<br><br>
            {{ form_end(form) }}  
        </div>
       
    </div>
</div>
