{% extends 'back-base.html.twig' %}

{% block body %}
    <div class="container">
      <br>
<br>
<br>
<br>
        <div class="row">
            <div class="col-md-12">
            <p class="card-description"> Add class <code>.table-striped</code></p>
             <div class="table-responsive">
                <h1 class="text-center mb-4">Liste des réclamations</h1>
                <!-- Barre de recherche multicritère -->
                <input type="text" class="form-control" id="searchInput" placeholder="Rechercher">
                <div class="table-responsive">
                     <table class="table table-striped mt-3" id="searchResultsTable">
                        <thead>
                            <tr>
                                
                                <th scope="col">Catégorie</th>
                                <th scope="col">Description</th>
                                <th scope="col">Pièce jointe</th>
                                <th scope="col">Service</th>
                                <th scope="col">État</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for reclamation in reclamations %}
                                <tr>
                                  
                                    <td>{{ reclamation.categorierec }}</td>
                                    <td>{{ reclamation.descriptionrec }}</td>
                                    <td>{{ reclamation.piecejointerec ? 'Oui' : 'Non' }}</td>
                                    <td>{{ reclamation.servicerec }}</td>
                                    <td>{{ reclamation.etatrec }}</td>
                                    <td>
                                        <a href="{{ path('app_reclamation_show', {'idrec': reclamation.idrec}) }}" class="btn btn-primary btn-sm">Détail</a>
                                        <a href="{{ path('app_reclamation_editB', {'idrec': reclamation.idrec}) }}" class="btn btn-warning btn-sm">Traiter</a>
                                        <a href="{{ path('app_reclamation_delete', {'idrec': reclamation.idrec}) }}" class="btn btn-danger btn-sm">Supprimer</a>

                                    </td>
                                </tr>
                                
                            {% else %}
                                <tr>
                                    <td colspan="8" class="text-center">Aucune réclamation trouvée.</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                                                            <a href="{{ path('app_reclamation_stats') }}" class="btn btn-danger btn-sm">Statistiques</a>

                </div>
            </div>
        </div>
    </div>

    
    <script>
    //l'élément de champ de recherche
    const searchInput = document.getElementById('searchInput');
    //le tableau des résultats de recherche
    const searchResultsTable = document.getElementById('searchResultsTable');
    //toutes les lignes du tableau des résultats de recherche
    const rows = searchResultsTable.getElementsByTagName('tr');

   //détecter les modifications dans le champ de recherche
    searchInput.addEventListener('input', function() {
        // recupere la valeur de recherche saisie 
        const searchValue = searchInput.value.toLowerCase();

        // Parcourir toutes les lignes du tableau des résultats de recherche
        for (let i = 0; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let found = false;
            for (let j = 0; j < cells.length; j++) {
                const cellText = cells[j].textContent.toLowerCase();
                // Vérifier si la valeur de recherche est présente dans le contenu textuel 
                if (cellText.indexOf(searchValue) > -1) {
                    found = true;
                    break;
                }
            }

            // Afficher ou masquer la ligne en fonction de si la valeur de recherche est trouvée dans la ligne
            if (found) {
                rows[i].style.display = '';
            } else {
                rows[i].style.display = 'none';
            }
        }
    });
</script>
{% endblock %}
