{{ form_start(form, {'attr': {'class': 'forms-sample', 'novalidate': 'novalidate' }}) }}
    <div class="d-flex justify-content-between align-items-center">

 <div class="form-group">
{{ form_label(form.commaeq, null, {'label_attr': {'style': 'color: #000'}}) }}       
 {{ form_widget(form.commaeq, {'attr': {'class': 'form-control',  'style': 'color: #000'}}) }}
        {% if form_errors(form.commaeq) %}
        <div class="alert alert-danger">
            {{ form_errors(form.commaeq) }}
        </div>
    {% endif %}
    </div>
        {% if not app.user.isStatut() %}
        <button type="submit" class="btn btn-primary">{{ button_label|default('Publier') }}</button>
        {% else %}
                <button type="submit" class="btn btn-primary" disabled>{{ button_label|default('Publier') }}</button>
                {% endif %}
    </div>

    
    


{{ form_end(form) }}
