

{% extends 'evenement/evenement.html.twig' %}
                       
{% block boxes %}
 <h1>Evenement</h1>

    <table class="table">
        <tbody>
         
            <tr>
                <th>NomEve</th>
                <td>{{ evenement.nomEve }}</td>
            </tr>
            <tr>
                <th>DateDeve</th>
                <td>{{ evenement.dateDeve ? evenement.dateDeve|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateFeve</th>
                <td>{{ evenement.dateFeve ? evenement.dateFeve|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>NbrMax</th>
                <td>{{ evenement.nbrMax }}</td>
            </tr>
            <tr>
                <th>AdresseEve</th>
                <td>{{ evenement.adresseEve }}</td>
            </tr>
          <tr>
    <th>ImageEve</th>
             <td> <img src="{{ path('user_images', {'imageName': evenement.imageEve|url_encode}) }}"alt="Image de l'événement" style="width: 200px; height: 200px;"></td>
</tr>  
        </tbody>
    </table>

    <a href="{{ path('app_evenement_index') }}">back to list</a>






{% endblock %}







